.product_table {
    border: 1px solid black
}

.product_table th {
    background-color: red;
    color: wheat;
}

.product_table tbody td {
    border-left: 1px solid #555555;
    border-bottom: 1px solid #555555;
}

.product_table tfoot {
    font-weight: bold;
}

.center {
    margin: auto;
}

.text_center {
    text-align: center;
}